<li><img class="gh-event-avatar" {{bind-attr src='event.actor.avatar_url'}}><div class="gh-info">{{view.eventText.eventVerb}} {{view.eventText.eventTarget}}<time>{{date-from-now created_at}}</time></div></li>
